*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  display: flex;
  object-fit: cover;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: $font-family-sans;
  color: $color-white;
  font-size: $body-1-size;
  line-height: $body-1-line-height;
}

main {
  flex-grow: 1;
   background-color:  $color-sacramento-state-green;
}

.container {
  width: 100%;
  max-width: 1210px;
  margin-inline: auto;
  padding-inline: 5rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 153px;
  height: 48px;
  font-weight: $fw-semibold;
  font-size: $body-1-size;
  line-height: $body-1-line-height;
  border-radius: 2.4rem;
  border: 2px solid;
}

#active{
  color: $color-light-coral;
}



.divider{
  height: 4px;
  width: 50px;
  display: inline-block;
}

.divider__primary{
  background-color: $color-rapture-blue;
}

.divider__secondary{
background-color: $color-light-coral ;
}

.text__primary{
  color: $color-rapture-blue;
}

.text__secondary{
  color: $color-light-coral;
}
