// ==============================
// Colors
// ==============================

// Primary
$color-midnight-green: #014E56;
$color-light-coral: #F67E7E;
$color-white: #FFFFFF;
$color-border: #c4fffe;

// Secondary
$color-rapture-blue: #79C8C7;
$color-police-blue: #2C6269;
$color-deep-jungle-green: #004047;
$color-sacramento-state-green: #012F34;
$color-dark-green: #002529;
$color-black: #000000;



// ==============================
// Typography
// ==============================

// Font family
$font-family-sans: "Livvic", sans-serif;

// Font weights
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

// Headings
$h1-size: 10rem;   // 100px
$h1-line-height: 1; // 100/100

$h2-size: 6.4rem;  // 64px
$h2-line-height: 1.56; // 100/64

$h3-size: 4.8rem;  // 48px
$h3-line-height: 1; // 48/48

$h4-size: 3.6rem;  // 36px
$h4-line-height: 1; // 36/36

$h5-size: 3.2rem; // 32px
$h5-line-height: 1.5; // 48/32=1.5
// Body
$body-1-size: 1.8rem;  // 18px
$body-1-line-height: 1.56; // 28/18 ≈ 1.56

$body-2-size: 1.6rem;  // 16px
$body-2-line-height: 1.5; // 24/16 = 1.5
$body-3-size: 1.5rem; // 15px
$body-3-line-height:1.7;// 25/15=1.7

$body-4-size: 1.3rem; // 13px
$body-4-line-height:1.38; // 18/13
// Letter spacing
$ls-tight: -0.01em;
$ls-normal: 0;
